<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Roles Management</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300' rel='stylesheet' type='text/css'>
    
    <%= stylesheet_link_tag "v2/application" %>
    <%= stylesheet_link_tag "v2/applications" %>
  	<%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag "v2/application" %>
    <%= yield :javascript %>
  </body>
</html>
