<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
	<title>Roles Management</title>

  <%= stylesheet_link_tag "application" %>
	<%= csrf_meta_tag %>
</head>
<body>

  <% _has_role? :admin do %>
  <script type="text/javascript">
    window.application_last_updated = "<%= LAST_UPDATED %>";
  </script>
  <% end %>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Roles Management", applications_url, :class => "navbar-brand" %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <% _has_role? :admin do %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrate <b class="caret"></b></a>
            <% end %>
            <ul class="dropdown-menu">
              <% unless session[:impersonation_id].nil? %>
                <li><a href="#unimpersonate">Unimpersonate</a></li>
              <% else %>
                <li><a href="#impersonate">Impersonate…</a></li>
              <% end %>
              <li class="divider"></li>
              <li><a href="#api-keys">API Keys…</a></li>
              <li><a href="#whitelist">API Whitelist…</a></li>
              <li class="divider"></li>
              <li><a href="#queued-jobs">Queued Jobs…</a></li>
              <li class="divider"></li>
              <li><a href="#about">About…</a></li>
            </ul>
          </li>
          <li><a  href="#">Help</a></li>
          <li><%= link_to "Log out", logout_url %></li>
        </ul>
        
        <!--<form class="navbar-form navbar-right" role="form">
          <div class="form-group">
            <input type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success">Sign in</button>
        </form>-->
      </div><!--/.navbar-collapse -->
    </div>
  </div>

  <div id="main-body" class="container"><%= yield %></div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript %>
  
  <div id="get-support"><a href="https://sysaid.dss.ucdavis.edu/SubmitSR.jsp?formID=0&reRoute=1&isLogged=1&noframe=null&populateSR_id=0&pageID=1&subPageID=undefined&changes=1&right2left=false&autoDescriptionTemplate=N&problem_type=Websites+and+Web+Apps&subcategory=Error+or+Problem&title=Roles+Management+Bug+Report&desc=What+were+you+doing+when+the+error+occurred%3F%0D%0A%0D%0AIf+you+received+an+error+message%2C+what+was+the+exact+text%3F%0D%0A%0D%0AWhat+web+browser+and+version+were+you+using%3F" target="_blank"><button class="btn btn-danger"><i class="icon-comment icon-white" style="margin-right: 8px;"></i>Report a Problem</button></a></div>
</body>
</html>
